<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Document</title>
</head>
<body>
          <h1>we received your enquiry we will get back to you soon</h1>
          <a href="https://www.youtube.com/watch?v=nfsZ72_h7EY&list=RDnfsZ72_h7EY&start_radio=1">Play Video</a>
          <img src="https://in.images.search.yahoo.com/search/images;_ylt=Awr1UZr0Du9jJ8cCrgW7HAx.;_ylu=Y29sbwNzZzMEcG9zAzEEdnRpZAMEc2VjA3BpdnM-?p=images&fr2=piv-web&type=E211IN714G0&fr=mcafee#id=99&iurl=https%3A%2F%2Fjooinn.com%2Fimages%2Ftropical-beach-18.jpg&action=click" alt="no img">
         
</body>
</html>